* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .fundo-animado {
    position: absolute;
    display: flex;
}
.fundo-animado span {
    width: 30px;
    height: 30px;
    background: #5c5c5c;
    margin: 0 -2px;
    border-radius: 50%;
    background-color: #707070;
    box-shadow: 0 0 10px 10px #707070,
    0 10px 50px #242424,
    0 10px 100px #242424;
    animation: animar calc(80s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
.fundo-animado span:nth-of-type(even) {
    background: #252525;
    box-shadow: 0 0 10px 10px #3d3d3d,
    0 10px 50px #696969,
    0 10px 100px #808080;
}