* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main {
    position: relative;
    width: 100%;
    height: 180vh;
    overflow: hidden;
  }
  .fundo-animado {
    display: flex;
}
.fundo-animado span {
    width: 30px;
    height: 30px;
    background: #4d4d4d;
    margin: 0 -2px;
    border-radius: 50%;
    background-color: #4d4d4d;
    box-shadow: 0 0 10px 10px #707070,
    0 10px 50px #242424,
    0 10px 100px #242424;
    animation: animar calc(100s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(200vh) scale(0.4);
    }
    100% {
        transform: translateY(-5vh) scale(0.7);
    }
}
.fundo-animado span:nth-of-type(even) {
    background: #000764;
    box-shadow: 0 0 10px 10px #000661ef,
    0 10px 50px #000764bb,
    0 10px 100px #00076485;
}

.cardsProjetos{
    margin-top: 0vh;
    width: 100%;
    height: 190vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.cards{
    margin-bottom: 10vh;
    height: 450px;
    background-color: #131313;
    width: 90%;
    border-radius:60px;
    display: flex;
    box-shadow: 0 0 40px black;
    transition: 1.2s ease-in-out;
}
.cards:hover{
    transform: scale(1.05);
}
.contexto{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contexto p {
    color: #fff;
    font-size: 20px;
    margin-top: 3%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.contexto h1{
    color: white;
    margin-top: 7%;
    animation: digitar 3s steps(22, end) ;
    width: 24.8ch;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.imagemButton{
    width: 45%;
    display: flex;
    justify-content: center;    
}
.divisao{
    width: 72%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.imagemButton img{
    width: 95%;
}
.imagemButton a{
    margin-top: 2%;
    width: 30%;
    justify-content: center;
    display: flex;
    padding: 8px 0px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    transition: .8s ease-in-out;
    cursor: pointer;
}
.imagemButton a:hover{
    transform: scale(1.2);
}
@keyframes digitar{
    0%{
        width: 0;
    }
}