* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img {
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;        
  }

html, body {
    overflow-x: hidden;
}
.apresentacao {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.imagemFundo {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.imagemFundo img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; 
    animation: zoom 15s ease-in-out infinite alternate;
}

.euImg {
    animation: mov 1.5s;
    right: 0;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 90%;
    filter: drop-shadow(-10px 0px 25px rgb(0, 0, 0));
    animation-delay: 2.5s; 
}
@keyframes mov {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px); 
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.3);
    }
}

.eu {
    position: absolute;
    top: 38%;
    left: 8%;
}

.eu h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 0.3rem 0.4rem 2px rgba(61, 61, 61, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 0.9s forwards; 
    animation-delay: 2.7s; 
}

.eu p {
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem rgba(49, 49, 49, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.1s forwards;
    animation-delay: 2.7s; 
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    .euImg{
        display: none;
    }
    .eu h1 {
        font-size: 3em;
    }
    
    .eu p {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1025px) {
    .euImg {
        display: none;
    }  
}