* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img {
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;        
  }

html, body {
    background-color: #000;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    height: 5px; 
    width: 6px;
  }
  
body::-webkit-scrollbar-track {
    background-color: #000000; 
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
  }
.textBlue-animation,.textWhite-animation,.front-p-animation
,.front-animation,.eu-animation,.p1-animation,.p2-animation
,.p3-animation,.destaque-animation,.tituloProjeto,.link-page
,.code-monet,.fa-html5,.fa-css3-alt,.fa-js,.fa-php,.fa-github
,.fa-database{
    visibility: hidden;
}


.apresentacao {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: brightness(.8);
  }
    #particles-js {
    background-color: transparent;
    opacity: .7;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
  }

.euImg {
    z-index: 5;
    right: 0;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 100%;
    filter: drop-shadow(-10px 0px 25px rgb(0, 0, 0));
}



.eu {
    position: absolute;
    top: 38%;
    left: 8%;
}

.eu h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 0.3rem 0.4rem 2px rgba(61, 61, 61, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    z-index: 5;
}

.eu p {
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem rgba(49, 49, 49, 0.4);
    margin-bottom: 2rem;
    z-index: 5;
}


.container_sobre{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
}
.textSobre{
    width: 45%;
    height: 100%;
}
.marginText{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.textWhite{
    margin-left: -50px;
    font-size: 102px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 6px 6px 8px #020096d8;
}
.textBlue{
    margin-top: -57px;
    margin-left: 285px;
    color: #020096;
    font-size: 98px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 10px #ffffff5e;
}
.contexto-eu{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contexto-eu p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 16px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-size: 19px;
}

.container-hardSkills{
    height: 35vh;
    background-color: #000000;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.destaque{
    background: linear-gradient(45deg, #002168,  #1660ff, #6898ff);
    background-size: 300% 100%;
    animation: degrade 7s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5vh;
    margin-bottom: 4vh;
    font-size: 68px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes degrade {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 300%;
    }
  }
.skills-icons{
    display: flex;
    justify-content: center;
}
.skills-icons i{
    color: #ffffff;
    margin: 10px 50px;
    font-size: 64px;
    transition: 0.3s ease-in-out;
}
.skills-icons .fa-html5:hover {
    color: #e34f26;
}

.skills-icons .fa-css3-alt:hover {
    color: #1572b6;
}

.skills-icons .fa-js:hover {
    color: #f7df1e;
}

.skills-icons .fa-node:hover {
    color: #339933;
}

.skills-icons .fa-php:hover {
    color: #777bb4;
}

.skills-icons .fa-github:hover {
    color: #000;
}
.skills-icons .fa-database:hover{
    color: #dada00;
}

.container-projetos{
    height: 180vh ;
    background-color: #000000;
    text-align: center;
}
.projetos{
    margin-top: 10vh;
}
.div-titulo{
    margin-top: 5vh;
    height: 8vh;
    display: block;
    position: relative;
}

.tituloProjeto{
    color: #ffffff;
    text-shadow: 6px 6px 8px #020096d8;
    font-size: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.projeto{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.link-page{
    margin-left: -30vw;
}
.code-monet{
    margin-right: -30vw;
}
.mockup img{
    width: 50vw;
    height:55vh;
}
.text-projeto{
    text-align: center;
    z-index: 1;
}
.text-projeto h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10vh;
    font-size: 100px;
    color: #fff;
    text-shadow: 0 0 10px black,
                 0 0 25px #000;
}
.text-projeto p{
    margin-top: -1.2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 10px black;
}
#link-page,#code-monet{
    cursor: pointer;
}
