header {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    position: fixed;
    color: rgb(255, 255, 255);
    z-index: 1000; 
}
header h1{
    margin-left: 5%;
    font-size: 38px;
    padding: 8px;
    transition: 0.5s ease-in-out;
    text-shadow: 0 0 5px black,
                 0 0 15px #000000,
                 0 0 30px black;
}

@media only screen and (max-width: 600px) {
    header h1{
        
        font-size: 28px;
    }
}