@media only screen and (max-width: 345px) {

    .euImg,.eu-animation{
        display: none;
    }
    .eu h1 {
        font-size: 3em;
    }
    
    .eu p {
        font-size: 1.3rem;
    }
    .contexto-eu{
        margin-top: -30vh;
    }
    .contexto-eu p{
        font-size: 14px;
    }
    .textWhite{
        font-size: 74px;
    }
    .textBlue{
        margin-top: -46px;
        margin-left: 150px;
        font-size: 70px;
    }
    .container_sobre{
        height: 100vh;
        flex-direction: column;
        display: flex;
    }
    .textSobre{
        margin-top: -17vh;
        width: 100%;
        height: 100%;
    }
    .contexto-eu{
        height: 100%;
        width: 100%;
    }
    .skills-icons i{
        margin: 10px 16px;
        font-size: 28px;
    }
    .left{
        margin-left: 0;
    }
    .right{
        margin-right: 0;
    }
    .mockup img{
        width: 98vw;
        height:34vh;
    }
    .tituloProjeto{
        font-size: 75px;
    }

    .text-projeto h1{
        margin-top: -5.9vh;
        font-size: 57px;
    }
    .text-projeto p{
        margin-top: -1.2vh;
        font-size: 26px;
    }
    .card-certificado{
        margin: 3vh;
        width: 290px;
        height: 240px;
      }
    svg text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #ffffff;
        font-size: 36px;
    }
    .button {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-left: 14px;
      }
      
      .button svg {
        width: 30px;
        height: 30px;
      }
      .button::before {
        width: 45px;
        height: 45px;
        border-radius: 50px;
      }
}
@media only screen and (min-width: 345px) and (max-width: 600px) {

    .euImg,.eu-animation{
        display: none;
    }
    .eu h1 {
        font-size: 3em;
    }
    
    .eu p {
        font-size: 1.5rem;
    }
    .contexto-eu{
        margin-top: -30vh;
    }
    .contexto-eu p{
        font-size: 14px;
    }
    .textWhite{
        font-size: 75px;
    }
    .textBlue{
        margin-top: -54px;
        margin-left: 195px;
        font-size: 65px;
    }
    .container_sobre{
        height: 100vh;
        flex-direction: column;
        display: flex;
    }
    .textSobre{
        margin-top: -17vh;
        width: 100%;
        height: 100%;
    }
    .contexto-eu{
        height: 100%;
        width: 100%;
    }
    .skills-icons i{
        margin: 10px 16px;
        font-size: 32px;
    }
    .left{
        margin-left: 0;
    }
    .right{
        margin-right: 0;
    }
    .mockup img{
        width: 98vw;
        height:34vh;
    }
    .tituloProjeto{
        font-size: 80px;
    }

    .text-projeto h1{
        margin-top: -5.9vh;
        font-size: 57px;
    }
    .text-projeto p{
        margin-top: -1.2vh;
        font-size: 26px;
    }
    .card-certificado{
        margin: 3vh;
        width: 400px;
        height: 270px;
      }
    svg text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #ffffff;
        font-size: 42px;
    }
    .button {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        margin-left: 20px;
      }
      
      .button svg {
        width: 34px;
        height: 34px;
      }
      .button::before {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
}
@media only screen and (min-width: 601px) and (max-width: 821px) {
    .textWhite{
        font-size: 90px;
        margin-left: 10px;
    }
    .textBlue{
        margin-top: -50px;
        margin-left: 180px;
        font-size: 87px;
    }
    .euImg,.eu-animation {
        display: none;
    }  
    .eu h1 {
        font-size: 4.1em;
    }
    .container_sobre{
        height: 70vh;
        width: 100%;
        background-color: #000;
        display: flex;
    }
    .contexto-eu p{
        font-size: 20px;
    }

    .skills-icons i{
        margin: 10px 28px;
        font-size: 46px;
    }
    .destaque{
        font-size: 115px;
    }
    .text-projeto h1{
        margin-top: -5.9vh;
        font-size: 80px;
    }
    .left{
        margin-left: 0;
    }
    .right{
        margin-right: 0;
    }
    .mockup img{
        width: 86vw;
        height:34vh;
    }
    .text-projeto p{
        margin-top: -1.2vh;
        font-size: 48px;
    }
    svg text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #ffffff;
        font-size: 72px;
    }
    .button {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-left: 38px;
      }
      
      .button svg {
        width: 48px;
        height: 48px;
      }
      .button::before {
        width: 75px;
        height: 75px;
        border-radius: 50px;
      }
}
@media only screen and (min-width: 821px) and (max-width: 1025px) {
    .euImg,.eu-animation {
        display: none;
    }  
    .eu h1 {
        font-size: 4.5em;
    }
    .container_sobre{
        height: 70vh;
        width: 100%;
        background-color: #000;
        display: flex;
    }
    .contexto-eu p{
        font-size: 20px;
    }
    .textWhite{
        font-size: 110px;
        margin-left: 10px;
    }
    .textBlue{
        margin-top: -60px;
        margin-left: 250px;
        font-size: 105px;
    }
    .skills-icons i{
        margin: 10px 28px;
        font-size: 46px;
    }
    .destaque{
        font-size: 115px;
    }
    .text-projeto h1{
        margin-top: -5.9vh;
        font-size: 80px;
    }
    .left{
        margin-left: 0;
    }
    .right{
        margin-right: 0;
    }
    .mockup img{
        width: 86vw;
        height:34vh;
    }
    .text-projeto p{
        margin-top: -1.2vh;
        font-size: 48px;
    }
    svg text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #ffffff;
        font-size: 100px;
    }
    .button {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        margin-left: 50px;
      }
      
      .button svg {
        width: 58px;
        height: 58px;
      }
      .button::before {
        width: 95px;
        height: 95px;
        border-radius: 50px;
      }

}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .left{
        margin-left: 0;
    }
    .right{
        margin-right: 0;
    }
    .mockup img{
        width: 72vw;
        height:40vh;
    }
    .destaque{
        font-size: 75px;
    }
    .text-projeto h1{
        margin-top: -5.9vh;
        font-size: 75px;
    }
    svg text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #ffffff;
        font-size: 124px;
    }
    .button {
        margin-left: 80px;
      }
  }

@media only screen and (min-width: 1441px) {
    header h1{
        font-size: 52px;
    }
    .textWhite{
    margin-left: -85px;
    font-size: 172px;
    text-shadow: 7px 7px 9px #020096d8;
    }
    .textBlue{
        margin-top: -87px;
        margin-left: 335px;
        font-size: 164px;
        text-shadow: 5px 5px 10px #ffffff8f;
    }
    .tituloProjeto{
        font-size: 130px;
    }
    .contexto-eu p{
        margin-bottom: 16px;
        font-size: 25px;
    }
    .destaque{
        font-size: 110px;
    }
    .skills-icons i{
        font-size: 76px;
    }
}